* {
  margin: 0;
  padding: 0;
}

.container {
  height: 99.5vh;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 2fr 1fr 20fr 1fr;
  gap: 3px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-area: 1/1/1/-1;
  display: grid;
  grid-auto-flow: column;
}
.logo{
  text-align: left;
}
.menu, .logo {
  align-self: center;
}
.menu ul {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  align-content: center;
}
.menu ul,
.menu li {
  font-size: 16px;
  list-style: none;
}

.sidebar {
  background-color: #C50208;
  grid-area: 2/1/4/2;
  display: grid;
  gap: 45px;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
  display: grid;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  list-style: none;
}
.nav > ul {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-self: center;
}

.article {
  background-color: #bccbde;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
  gap: 10px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: 300px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: 4/1/5/-1;
  display: grid;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
  align-self: center;
}